.App {
  text-align: center;
}
body {
  height: 100vh;
  width: 1440px;
  margin-left: 8%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  height: 100vh;
  width: 1440px;
  background-color: hsl(207, 26%, 17%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.display-main-page {
  width: 1400px;
  margin-top: 30px;
}
.countries-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px;
  border: none;
}

.country {
    background-color: hsl(209, 23%, 22%);
    max-width: 250px;
    margin: 40px 30px 40px 30px;
}

.flag {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
}

.country-name {
  padding-left: 1rem;
}

ul {
  padding-left: 16px;
}

li {
  list-style: none;
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search {
  height: 30px;
  margin: 20px 0 30px 30px;
  color: black;
  }

